[submodule "source/common/inih"]
	path = source/common/inih
	url = https://github.com/benhoyt/inih.git
[submodule "source/3ds/libkhax"]
	path = source/3ds/libkhax
	url = https://github.com/Myriachan/libkhax.git
