on: [push]

name: Build Red Viper (3DS)

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: build Red Viper
        run: git config --global --add safe.directory $PWD && make release
      - uses: actions/upload-artifact@v4
        with:
          name: red-viper.cia
          path: red-viper.cia
      - uses: actions/upload-artifact@v4
        with:
          name: red-viper.3dsx
          path: red-viper.3dsx
