on: [push]

name: Build Red Viper

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: build Red Viper
        run: git config --global --add safe.directory $PWD && make release
      - uses: actions/upload-artifact@v4
        with:
          name: red-viper.cia
          path: red-viper.cia
      - uses: actions/upload-artifact@v4
        with:
          name: red-viper.3dsx
          path: red-viper.3dsx
  
  test_interpreter:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: sudo apt update && sudo apt install libminizip-dev libsdl2-dev -y
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: build Red Viper
        run: git config --global --add safe.directory $PWD && make -f Makefile.linux
  
  test_dynarec:
    runs-on: ubuntu-latest
    container: debian

    steps:
      - name: Install dependencies
        run: dpkg --add-architecture armhf && apt update && apt install zlib1g-dev:armhf libminizip-dev:armhf libsdl2-dev:armhf -y
      - name: Install ARM toolchain
        run: apt install git make gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf -y
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: build Red Viper
        run: git config --global --add safe.directory $PWD && make -f Makefile.linux CC=arm-linux-gnueabihf-gcc CXX=arm-linux-gnueabihf-g++
